
  body {
    background-color: #fefdca;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: pink;
    border-width: 10px;
    width: 10%;
    text-align: left;
    margin-left:220px;
  }

h2,h3{
color:#68b0ab;
}
